html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Impact";
}


/*---- MENU ----*/

nav {
    width: 100%;
}

nav ul {
    height: 100%;
    list-style: none;
    padding-left: 1%;
    background-color: rgba(78, 78, 78, 0.75);
    margin-top: 0;
    //box-shadow: 10px 0px 20px black;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: right;
    transition: .4s;
}

nav ul > li:hover {
    background-color: rgba(78, 78, 78, 1);
}

nav ul li a {
    display: block;
    height: 100%;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

a:visited,
:link,
:active {
    color: #FFFAFA;
    text-decoration: none;
}

nav ul span {
    font-size: 2em;
    color: #FFFAFA;
    font-weight: bold;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
}

nav ul span a {
    text-decoration: none;
}


/* --- DROPDOWN --- */

#connect {
    display: none;
    position: absolute;
    background: rgba(78, 78, 78, 1);
    overflow: hidden;
    //border: 1px solid white;
    box-shadow: -6px 6px 15px -5px black;
    right: 0;
}

#connect a {
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 100;
}

#connect a:hover {
    color: rgba(78, 78, 78, 1);
    background-color: white;
}


/*----- end of menu -----*/

.title {
    text-align: center;
    margin: 15% auto;
    font-weight: bold;
    color: #FFFAFA;
    font-size: 4em;
}

.top {
    width: 100%;
    height: 100%;
    background-image: url(img/bg.png);
    background-size: cover;
}

.about {
    text-align: center;
    padding: 0.5% 1.5%;
    background-color: #FFFAFA;
    color: rgba(17, 17, 17, 1);
    position: absolute;
    bottom: 0;
    z-index: 2;
    transition: .5s;
    cursor: pointer;
}

.about:hover {
    background-color: rgba(17, 17, 17, 1);
    color: #FFFAFA;
}

.about p {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
}

.aboutSlide {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    background-color: rgba(17, 17, 17, 0.9);
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
    text-align: center;
}

.aboutSlide p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.2s;
}